body {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: cursive; 
}

.card {
    background-color: white;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden;
    padding-bottom: 30px;
}


.badge-hot {
    position: absolute;
    top: 15px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
}

.header {
    background-color: #40f2f2;
    padding: 30px 10px;
    text-align: center;
}

.header h2 {
    margin: 0;
    font-size: 22px;
    color: #000;
}

.content {
    padding: 20px 30px;
}

.info-row {
    display: flex;
    justify-content: flex-start;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
}

.info-row:last-child {
    border-bottom: none;
}

.label {
    color: #666;
    margin-right: 8px;
}

.value {
    color: #444;
}

.green {
    color: #2ecc71;
    font-weight: bold;
}

.btn-booking {
    display: block;
    width: 80%;
    margin: 10px auto 0;
    background-color: #00e5ff;
    color: #000;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: cursive;
    transition: transform 0.2s;
}

.btn-booking:hover {
    transform: scale(1.05);
    background-color: #00d4ec;
}