.menu {
    display: flex;
    flex-wrap: wrap;                 
    justify-content: space-between;  
    gap: 20px;
}

.food {
    width: 30%;        
    text-align: center;
}

.food img {
   width: 100%;
    height: 180px;        
    object-fit: cover;   
    border-radius: 10px;
}

.food p {
    margin-top: 10px;
    font-weight: bold;
}
